@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: Alegreya;
  font-style: normal;
  font-weight: 400 900;
  src: url(./fonts/alegreya-v38-latin-variable.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Alegreya;
  font-style: italic;
  font-weight: 400 900;
  src: url(./fonts/alegreya-italic-v38-latin-variable.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/alegreya-sans-v25-latin-500.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Alegreya Sans;
  font-style: italic;
  font-weight: 500;
  src: url(./fonts/alegreya-sans-v25-latin-500italic.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/alegreya-sans-v25-latin-700.woff2) format("woff2")
}

@theme {
  --font-sans: Alegreya Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  --color-emerald-darkest: oklch(0.22 0.04 169.37);
  --color-emerald-925: oklch(0.32 0.06 170.95);
  --color-emerald-935: oklch(0.29 0.05 171.78);
}

@layer base {
  html {
    font-family: Alegreya,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
  }

  h1,h2,h3,h4 {
    user-select: none;
    padding: 0;
    font-family: Alegreya Sans,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25!important;
    letter-spacing: .1em;
    --tw-text-opacity: 1;
    color: rgb(52 211 153 / var(--tw-text-opacity, 1))
  }

  .bg-catfish {
    background-image: url(./assets/catfish.png);
  }

  button, [role="button"] {
    cursor: pointer;
  }

  button.large {
    display: flex;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgb(6 78 59 / var(--tw-bg-opacity, 1));
    font-family: Alegreya Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-size: 1.875rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: .025em;
    --tw-text-opacity: 1;
    color: rgb(209 250 229 / var(--tw-text-opacity, 1));
    text-decoration-line: none
  }

  button.large:hover:enabled {
    --tw-bg-opacity: 1;
    background-color: rgb(6 95 70 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1)) ;
  }

  .categories > span:not(:last-child)::after {
    padding-left: .125rem;
    padding-right: .125rem;
    vertical-align: middle;
    font-size: .5em;
    --tw-text-opacity: 1;
    color: rgb(251 191 36 / var(--tw-text-opacity, 1));
    --tw-content: " ✦ ";
    content: var(--tw-content);
  }

  .default-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .badge-large {
    /* TODO */
    --tw-bg-opacity: 1;
    background-color: rgb(52 211 153 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(6 78 59 / var(--tw-text-opacity, 1));
    margin-left: .25rem;
    margin-right: .25rem;
    display: inline-block;
    user-select: none;
    border-radius: 9999px;
    padding: .125rem .5rem;
    font-family: Alegreya Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
  }

  .badge-emerald {
    --tw-bg-opacity: 1;
    background-color: rgb(52 211 153 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(6 78 59 / var(--tw-text-opacity, 1));
  }

  .badge-red {
    --tw-bg-opacity: 1;
    background-color: rgb(252 165 165 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(153 27 27 / var(--tw-text-opacity, 1));
  }
}
